<nb-card size="large" accent="warning">
  <nb-card-header>
    <h3 class="roboto font-bold">My classes</h3>
  </nb-card-header>
  <nb-card-body>

    <div class="lesson flex bg-gray-100 text-center dark:bg-gray-700 shadow sm:flex-row flex-col">
      <div class="flex-none">
        <nb-user name="4 More about tech"
                 color="#cccccc"
                 class="lesson"
                 shape="round"
                 size="large"
                 title="Wednesday, 24 May 2023 ( 18:00 - 19:00)"></nb-user>

      </div>
      <div class="grow">
        02
      </div>
      <div class="flex-none">
        03
      </div>
    </div>

  </nb-card-body>
</nb-card>



